.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Log files
*.log

# Temporary debugging and testing files
test*.txt
test*.gradle
tmp_pedro/
tmp_pedro_core/
*.wpilog

*.class

# Added for template
.gemini/
tmp/
